
<div *ngIf="!token else chat">
  <app-centered-card title="Sign in or Register"></app-centered-card>
</div>

<ng-template #chat>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
    >
      <h2>Online Users:</h2>
      <div *ngFor="let user of users">
        <b *ngIf="user.status">{{ user.displayName }}</b>
      </div>
    </div>
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="75%"
    >
      <h2>Chat:</h2>
      <div *ngFor="let message of messages">
        <b>{{ message.username }}</b>:
        {{ message.text }}
      </div>

      <form (ngSubmit)="sendMessage()">
        <input
          type="text"
          name="messageText"
          [(ngModel)]="messageText"
        />
        <input type="submit" value="Send" />
      </form>
    </div>
  </div>
</ng-template>



