/* You can add global styles to this file, and also import other style files */
body
  margin: 0
  padding: 0

mat-card
  img
    object-fit: cover
    object-position: center
    width: 100%
    height: 300px
